@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }
  
  nav {
    width: 600px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  .blackHeart {
    width: 20px;
    margin-right: 1rem;
  }

  .logo{
    width: 50px;
  }

  .search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .search-bar form {
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .search-bar img {
    width: 40px;
    background-color: rgba(122, 120, 120, 0.432);
  }

  .search-bar input {
    width: 70vw;
    height: 2.5em;
    background-color: rgba(122, 120, 120, 0.432);
  }

  .search-bar button {
    height: 2.5em;
    color: white;
    background-color: red;
  }

  .join-login{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20%;
  }

  .join-login a {
    text-decoration: none;
  }

.intro {
    background-color: rgb(234, 234, 240);
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

    .intro h1 {
        font-size: 50px;
    }

    .intro article {
        text-align: center;
        margin-bottom: 50px;
    }

    .intro-links{
        display: flex;
        width: 30%;
        justify-content: space-between;
    }

    .intro-links a{
        text-decoration: none;
    }

    .plans {
        display: flex;
        width: 200px;
        height: 50px;
        background-color: red;
        color: white;
        align-items: center;
        justify-content: center;
    }

    .join {
        display: flex;
        color: black;
        background-color: lightgrey;
        width: 200px;
        height: 50px;
        align-items: center;
        justify-content: center;
    }

.second {
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

    .second img {
        width: 20%;
    }

    .second h3 {
        width: 55%;
        font-size: 40px;
        background-color: rgba(255, 255, 0, 0.493);
        text-align: center;
    }

    .second article {
        text-align: center;
    }

.end {
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

    .yolo {
        width: 90%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 30px;
    }

    .yolo img {
        width: 40px;
    }

    .yolo h5 {
        color: red;
    }

    .end a {
        text-decoration: none;
        color: white;
        background-color: black;
        width: 20%;
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
    }